@CHARSET "UTF-8";

body, table{
	text-align: center;
	margin: auto;
}

table{
	border-spacing: 0;
}

#header{
	font-size: 10pt;
	text-align:right;
	padding: 3px;
	background: #D3D3D3;
}

th{
	font-size: 18pt;
	font-family: sans-serif;
}

label{
	float:left;
}

.travelPrice{
	margin-left: 100px;
}

input[type="submit"]{
	margin-left: 50px;
}

#travels tr:hover:not(#title){
	background: #D3D3D3;	
}

#hotTour{
	background-color: yellow;
	padding-right: 3px;
	padding-left: 3px;
}

#adminPanel{
	border-spacing: 5px;
	margin-top: 30px;
}

#adminPanel input[type="submit"]{
	margin: 0;
}

#title{
	text-align: right;
	font-weight: 700;
	font-size: 14pt;
}

#crossed{
	text-decoration: line-through;
}

#travelName{
	text-align: center;
}

#customerList{
	text-align: left;
}

#customerList td{
	padding-right: 10px;
}